.cadastro {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.cadastro h1 {
  margin: 3% 0;
}

.formCadastro {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.campo {
  width: 50%;
  display: flex;
  justify-content: center;

}

.formCadastro input {
  width: 350px;
  margin: 0 5px;
}

.btnCadastro {
  width: 710px;
  height: 40px;
  margin: 2% 0 0 0;
  color: white;
  border: 0;
  border-radius: 4px;
  background-color:  #0c44ee;
}

#InputCadastro {
  width: 710px;
}

.teste {
  width: 45%;
  display: flex;
  align-items: center;
  margin: 2% 0;
}

.teste label {
  margin-left: 10px;
}

#flexCheckIndeterminate {
  width: 20px;
  height: 20px;
}







/* .form-nome{
  height: 50px;
  width: 291px;
  margin-right: 20px;
  border-radius: 10px;
  
}

.name {
  text-align: left;
  width: 604px;
}

.form-sobrenome{
  height: 50px;
  width: 291px;
  border-radius: 10px;
}

.form-N{
  height: 50px;
  width: 183px;
  border-radius: 10px;
}
.form-R{
  height: 50px;
  width: 291px;
  border-radius: 10px;
  margin-right: 14px;
}
.form-B{
  height: 50px;
  width: 291px;
  border-radius: 10px;
}
.rua-N{
 
  width: 604px;
  text-align: left;
  
}
.form-cep {
  height: 50px;
  width: 290px;
  border-radius: 10px;
}
.form-comp{
  margin-left: 19px;
  height: 50px;
  width: 290px;
  border-radius: 10px;
}

.cep{
  text-align: left;
}

.form-C{
  height: 50px;
  width: 291px;
  border-radius: 10px;
  text-align: left;
  margin: 0px 13px 0px 0px;
  }


.titulo-cep {
  text-align: left;
  width: 604px;
  margin: 3px;
}



.rua-cep {
  height: 35px;
  width: 250px;
}

.N-cep {
  width: 160px;
}

.senha {
  display: flex;
}

.bntcadastro {
  height: 50px;
  width: 604px;
  border-radius: 10px;
  color: #ffffff;
  background-color: #591dcc;
}
.email {
  height: 50px;
  width: 604px;
  border-radius: 10px;

}
.form-S{
  text-align: left;
  margin: 5px;
}
.senha-email{
text-align: left;
}

.form-senha{
  height: 50px;
  width: 291px;
  border-radius: 10px;
  margin-right: 10px;
}
.form-confirme-senha{
  height: 50px;
  width: 291px;
  border-radius: 10px;
}
.checkbox{
  color: black;
} */