p {
  color: black;
}
form {
  margin: 0 auto;
  width: 604px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-nome {
  height: 50px;
  width: 291px;
  margin-right: 20px;
  border-radius: 10px;
}

.name {
  text-align: left;
  width: 604px;
}

.form-sobrenome {
  height: 50px;
  width: 291px;
  border-radius: 10px;
}

.form-N {
  height: 50px;
  width: 183px;
  border-radius: 10px;
}
.form-R {
  height: 50px;
  width: 395px;
  border-radius: 10px;
  margin-right: 14px;
}
.rua-N {
  width: 604px;
  text-align: left;
}
.form-cep {
  height: 50px;
  width: 296px;

  border-radius: 10px;
}

.cep {
  text-align: left;
}

.form-C {
  height: 50px;
  width: 188px;
  border-radius: 10px;
  text-align: left;
  margin: 0px 13px 0px 0px;
}

.bnt {
  margin-right: 20px;
  margin-left: 7.8px;
  height: 50px;
  width: 79px;
  border-radius: 10px;
  color: #ffffff;

  background-color: #591dcc;
}
.titulo-cep {
  text-align: left;
  width: 604px;
  margin: 3px;
}

.bntCEP {
  background-color: rgb(255, 255, 255);
  height: 50px;
  width: 188px;
  border-radius: 10px;
  color: #591dcc;
  border-color: #591dcc;
}

.rua-cep {
  height: 35px;
  width: 250px;
}

.N-cep {
  width: 160px;
}

.senha {
  display: flex;
}

.bntcadastro {
  height: 50px;
  width: 604px;
  border-radius: 10px;
  color: #ffffff;
  background-color: #591dcc;
}
.email {
  height: 50px;
  width: 604px;
  border-radius: 10px;
}
.form-S {
  text-align: left;
  margin: 5px;
}
.senha-email {
  text-align: left;
}

.form-senha {
  height: 50px;
  width: 291px;
  border-radius: 10px;
  margin-right: 10px;
}
.form-confirme-senha {
  height: 50px;
  width: 291px;
  border-radius: 10px;
}
.checkbox {
  color: black;
}
