.mainLogin {
  display: flex;
  justify-content: center;
}

.form-login{
  width: 40%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-group {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form-group label {
  font-size: 24px;
  font-weight: 600;
}

.form-group input {
  margin: 2% 0;
}

.btns {
  width: 100%;
}

.btns button {
  width: 100%;
  color: white;
  border: none;
  margin: 1% 0;
}

.btns p, .btns #EsqueciSenha {
  color: black;
  text-align: center;
  margin: 3% 0 0 0;
}

.btns p{
  margin: 3% 0;
}

.btns #btnEntrar, #btnFacebook, #btnGoogle, #EsqueciSenha {
  width: 100%;
  color: white;
}

.btns #btnEntrar {
  background: #591dcc;
}

.fbtns #btnFacebook {
  background: #0d6efd;
}

.btns #btnGoogle {
  background: #dc3545;
}

.btns #EsqueciSenha {
  border: 1px solid black;
  margin-top: 5%;
  background: white;
}

.tirandoSublinhado{
  text-decoration: none;
}