/**.mainLogin .section-login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* border: 1px solid red; */
}
/*.cabecalho {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  border-bottom: 1px solid black;
}
*.cabecalho nav {
  padding: 0.5%;
  margin-right: 5%;
}

#btnLogin-menu {
  width: 150px;
  background: #591dcc;
}
.form-login {
  width: 430px;
  position: absolute;
}
.form-login input {
  margin-bottom: 3%;
}
.form-login label {
  font-size: 36px;
}

.btns button {
  width: 100%;
  color: white;
  border: none;
}
.btns p,
.btns #btnEsqueceu-Senha {
  color: black;
  text-align: center;
  margin: 3% 0;
}
.btns #btnEntrar,
#btnFacebook,
#btnGoogle,
#btnEsqueceu-Senha {
  width: 100%;
  color: white;
}
.btns #btnEntrar {
  background: #591dcc;
}
.fbtns #btnFacebook {
  background: #0d6efd;
}
.btns #btnGoogle {
  background: #dc3545;
}
.btns #btnEsqueceu-Senha {
  border: 1px solid black;
  margin-top: 5%;
  background: white;
}
