* {
  margin: 0;
  padding: 0;
}

.RecuperacaoSenha {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.RecuperacaoSenha section {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.RecuperacaoSenha input {
  margin: 2% 0;
}

.RecuperacaoSenha button {
  width: 100%;
}