main{
  background-color: #FFFFFF;
  color:#591DCC;


}
form{
  display: flex;
  flex-direction: column;
  width: 1706px;
  align-items: center;
}




.form-name{
  margin-right: 30px;
  
}





.form-control{

  height: 36px;
  width: 250px;
  border-radius: 7px;
 
  
}
.form-cep{

  height: 36px;
  width: 250px;
  border-radius: 7px;
  
  
}
.cep{
  height: 36px;
  display: flex;
  border-radius: 7px;
}

.bnt{
height: 36px;
  width: 60px;
  border-radius: 7px;
  color: #ffffff;
  background-color: #591DCC;

}


.bntCEP{
  background-color: rgb(255, 255, 255);
  height: 36px;
  width: 160px;
  border-radius: 7px;
  color: #591DCC;
  border-color: #591DCC;

}
.col{

  height: 36px;
  width: 250px;
  border-radius: 7px;
  

}

.rua-cep{
  height: 35px;
  width: 250px;
}




.N-cep{
  width: 160px;
  
  
}

.senha{
  display: flex;
}







